<html>
<head>
    <meta scheme="MIME" name="Subject" content="Hey $name, how are you?">

    <style type="text/css"><!--
    h1 { text-align:center; font-family:Arial, Helvetica, Sans-Serif; }
    p { text-indent:20px; }
    --></style>
</head>
<body bgcolor = "#ffffcc" text = "#000000">
<h1>${
    'Hello, ' +
    name + "!"
}</h1>

${}

${var v1 = 1}
${var v2 = "true"}
${var v3 = 1}
${var v4 = 1}
${var v5 = 3 +
2}

${if v1 + 2 > 2 then "Condition 1 alpha" else if bar + 1 > 1 then "Condition 1 bravo" else "Condition 1 charlie"}

${if v2}
Condition 2 alpha
$else
Condition 2 bravo
$end

${  if v3 then "Condition " + "3" + " alpha" else }
$end

${if v4 + 100 > 100 }
Condition 4 alpha
${else if v4 < 0 }
Condition 4 bravo
${else "Condition 4 charlie"}

${if (2*(3+23))+2*3+1 <= 5*(9*(4+5*(2+1)))+1}
    ${for 1 to 4 do "Iteration 1-" + index + " "}
    ${for 1 to 4 do
        if index % 2 > 0 then "Iteration 2 odd " else "Iteration 2 even "}
    ${for 1 to 4 do}${if index > 1}, $end${"Iteration 3-" + index}$end
$else
    foo
    ${if v4 > 0 then "bar"}
$end

${  for v5  }
    ${if index % 2 > 0 then
        "Iteration 4 odd"
    else
        "Iteration 4 even"
    }
$end
</body>
</html>
